:root {
    --color-one: #2F80ED;
    --standard-padding: 10px;
    --color-one-opaque: #2f81ed29;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 325px;
    height: 430px;
    font-family: 'Lato', sans-serif;
    overflow-y: hidden;
    /* background-color: #2F80ED; */
}
#root {
    width: 100%;
    height: 100%;
}
button:hover {
    cursor: pointer;
    opacity: 0.9;
}
.header {
    display: flex;
    background-color: #E0E0E0;
}
.header a {
    padding: 10px;
    display: block;
    width: 50%;
    text-align: center;
    background-color: #E0E0E0;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.header:not(.train-header) a:first-child {
    border-top-right-radius: 8px;
    background-color: white;
}
.train-header a:last-child {
    border-top-left-radius: 8px;
    background-color: white;
}

footer {
    width: 100%;
    display: grid !important;
    grid-template-columns: 1fr 70px;
    position: sticky;
    bottom: 0;
    background-color: white;
    /* margin-top: 40px; */
    justify-content: space-between;
    align-items: center;
    padding: var(--standard-padding);
}

footer > div:first-child {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    align-items: center;
}
footer > div:last-child {
    width: 50%;
    justify-content: right;
    align-items: center;
}
footer > div:last-child button {
    padding: 4px 8px;
    border: 0;
    color: white;
    background-color: #828282;
    border-radius: 3px;
}
footer > div > div >div {
    display: flex;
    gap: 10px;
    align-items: center;
}
footer > div > div > div > button {
    border: 0;
    color: var(--color-one);
    display: flex !important;
    align-items: center;
    background-color: #ffffff;
}
footer > div  img {
    height: 25px;
}

a.backwards.lighter {
    color: black;
    opacity: 0.8;
    text-decoration: none;
 }
 a.backwards {
    color: rgba(0, 0, 0, 0.596);
    display: inline-block;
    opacity: 0.8;
 }

 a.backwards.right:hover {
    transform: translateX(5px) !important;
    transition: all 0.2s;
 }
 a.backwards.left:hover {
    transform: translateX(-5px) !important;
    transition: all 0.2s;
 }
 a.backwards:hover {
    opacity: 1;
    cursor: pointer;
    color: var(--color-one);
    scale: 1.02;
    transition: all 0.2s;
 }

 .error {
    transform: translateX(500px);
    animation: downup 5s ease-in-out 1;
    animation-play-state: paused;
    background-color: #cbcbcb;
    padding: var(--standard-padding);
    border-radius: 3px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    position: absolute;
    z-index: 2;
 }
 .completions-toggle {
    display: inline-block;
    background-color: #EB5757;
    padding: 3px 6px;
    margin-left: 3px;
    color: white;
    border-radius: 4px;
 }
 @keyframes downup {
    0%{
       transform: translateX(500px);
       display: block;
    }
    15%{
       transform: translateX(0px);
    }
    85%{
       transform: translateX(0px);
    }
    100%{
       display: none;
       transform: translateX(500px);
       animation-play-state: paused;
    }
 }

 ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #E0E0E0;
    border-radius: 10px;

  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: gray
  }

.pill {
    background-color: var(--color-one);
    color: rgb(255, 255, 255);
    padding: var(--standard-padding);
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    border-radius: 3px;

}
.training-buttons {
    /* background-color: #EB5757; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
.training-buttons > a {
    background-color: #E0E0E0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    border-radius: 4px;
    border-top-right-radius: 0;
    gap: 5px;
    height: 73px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    
}
.training-buttons > div:hover {
    background-color: #b6b6b6;
    cursor: pointer;
}

.number-notification-badge {
    background-color: #EB5757;
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
    border-bottom-left-radius: 5px;
    font-weight: 400 !important;


}

