/* 
   Important! The component class name always have to be lowercase 
   and it has to match the js and css file names 
*/
.add-repo{
   margin: 0 auto;
   height: 100%;
}
.add-repo > main {
  padding: var(--standard-padding);
   text-align: left;
   height: 80%;
}
 .add-repo > main > input, button:not(#logout-button) {
   padding: 10px;
   width: 100%;
 }
 .add-repo > main > * {
   margin-bottom: 8px;
 }
 .add-repo > main > button {
   width: 100%;
   background-color: var(--color-one);
   color: white;
   padding: 10px;
   border-radius: 3px;
   border: 0;
}
.add-repo > main > div {
   display: flex;
   align-items: center;
   justify-content: left;
   
}
#inputs-pairs > div {
  display: flex;
  gap: 5px;
  font-weight: 700;
}