.answer{
    height: 100%;
 }
 .answer > main {
    padding: var(--standard-padding);
    height: 80%;
 }
 .answer > main > * {
    margin-top: 10px;
    font-size: 14px;
    
 }
 .answer > main > h2 {
    font-weight: 700;
 }

 .questions-container {
   background-color: #dadada;
   padding: 7px;
   display: flex;
   justify-content: space-between;
   border-radius: 3px;
   cursor: pointer;
 }