/* 
   Important! The component class name always have to be lowercase 
   and it has to match the js and css file names 
*/
.forgot{
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
 }
 .forgot > div {
    margin: 9vh auto;
    text-align: left;
    width: 80%;
    text-align: left;
 }
  .forgot > div > input, button {
    padding: 10px;
    width: 100%;
  }
  .forgot > div > * {
    margin-bottom: 8px;
    
  }
  .forgot > div > button {
    width: 100%;
    background-color: var(--color-one);
    color: white;
    padding: 10px;
    border-radius: 3px;
    border: 0;
 }
 .forgot > div > div {
    display: flex;
    align-items: center;
    justify-content: left;
    
 }
 