.generate{
    height: 105%;
 }

 .generate > main {
    padding: var(--standard-padding);
 }
 .generate > main > *:not(:first-child, h2, .small){
    margin-top: 0px;
    width: 100%;
    padding: 10px;
 }
 .generate > main > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
 }
 .generate > main > h2 {
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: 15px;
 }
.generate > main > button {
    background-color: var(--color-one);
    color: white;
    padding: 10px;
    border-radius: 3px;
    border: 0;
}
.modal-copied {
   display: none;
   text-align: center;
   position: absolute;
   padding: var(--standard-padding);
   font-weight: 700;
   border-radius: 3px;
}
.generate .small {
   display: inline-block;
   padding: 4px;
   color: gray;
   font-size: 13;
}

.rigo-thinking {
   animation: thinking 1s linear infinite;

}
@keyframes thinking {
   0%{
      opacity: 1;
      scale: 1;
   }
   50%{
      opacity: 0.8;}
   100%{
      opacity: 1;
      scale: 1;
   }
}