.organizations{
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
 }
 .organizations > div {
    margin: 0 auto;
    text-align: left;
    width: 80%;
 }
 .organizations > div > * {
    margin-bottom: 10px;
  }
  .organizations > div > h1 {
    font-size: 24px;
  }
  .organizations > div > p {
    font-weight: 700;
  }
  .organizations > div > select, option {
    padding: 10px;
    width: 100%;
  }
  .organizations > div > button {
    width: 100%;
    background-color: var(--color-one);
    color: white;
    padding: 10px;
    border-radius: 3px;
    border: 0;
 }