.templates{
    height: 100%;

 }
 .templates > main {
    padding: var(--standard-padding);
    overflow-y: auto;
    height: 80%;

 }


 .templates > main > a:first-child {
    margin-bottom: 5px;
    display: block;
 }
 .templates > main > *:not(:first-child){
    width: 100%;
 }
 .templates > main > a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
 }

 .template-container {
    display: block;
    width: 100%;
    color: black;
    background-color: #dadada;
    border-radius: 3px;
    padding: var(--standard-padding);
    margin-top: 5px;
}
.template-container > *:not(:last-child) {
    margin-bottom: 10px;
}
.template-container:hover {
    scale: 1.01;
    background-color: var(--color-one-opaque);
    transition: all 0.2s ease-in;
    cursor: pointer;
}
.template-container h2 {
    font-size: 12px;
}
.template-container small {
    display: inline-block;
    padding:5px;
    border-radius: 3px;
    background: rgba(32, 31, 37, 0.128);
    mix-blend-mode: hard-light;
}
.template-container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.information-icon {
    display: inline-block;
    position: relative;
}
div.info-modal {
    display: none;
    position: absolute;
    bottom: 28px;
    right: 0%;
    z-index: 3;
    width: 80%;
    background-color: #dadada;
    padding: var(--standard-padding);
    border: 1px solid rgb(147, 147, 147);
    border-radius: 10px;
}


.information-icon:hover + .info-modal {
display: block;
}


#go-to-topics {
    text-align: right;
}

.svg-container {

    width: fit-content;
    display: flex;
    gap: 5px;
    font-size: 15px;
}
.svg-container > .history-icon {
    z-index: 5;
}
.info-modal {
    font-size: 11px;
}
.info-history-modal {
    display: none !important;
    position: absolute;
    bottom: 28px;
    right: 0%;
    z-index: 3;
    width: 80%;
    background-color: #dadada;
    padding: var(--standard-padding);
    border: 1px solid rgb(147, 147, 147);
    border-radius: 10px;
    font-size: 11px;
}

.info-history-modal:hover {
    display: block !important;
}
.history-icon:hover + .info-history-modal {
    display: block !important;
    }
    