/* 
   Important! The component class name always have to be lowercase 
   and it has to match the js and css file names 
*/
.thanks{
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
 }
 .thanks > div {
    margin: 9vh auto;
    text-align: left;
    width: 80%;
    text-align: left;
 }

 .thanks > div > div {
    display: flex;
    align-items: center;
    justify-content: left;
 }
 .thanks > div > div:first-child {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--color-one-opaque);
    padding: var(--standard-padding);
    border-radius: 3px;
    margin-bottom: 10px;
 }
 