.topics{
    height: 100%;
 }
 .topics > main {
    padding: 10px;
    height: 80%;
 }
 .topics > main > *:not(:first-child){
    /* margin-top: 5px; */
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
 }
 .topics > main > h1 {
    margin-top: 10px;
    font-size: 15px;
 }
 .topics > main > select, option {
    font-size: 12px;
    margin-top: 5px;
 }

 .help-option {
   background-color: #dcd6d6;
   display: flex;
   align-items: center;
   border: 0;
   text-decoration: none;
   font-size: 18px;
   font-weight: 500;
   padding-left: 11px;
   padding-right: 11px;
   color: black;
   gap: 10px;
   border-radius: 5px;
   opacity: 0.8;
 }
 .help-option:hover {
   opacity: 1;
   background-color: var(--color-one-opaque);
 }

 #help-options {
   display: none;
 }

 .block {
   display: block !important;
 }