.topics{
    height: 100%;
 }
 .topics > main {
    padding: 10px;
    height: 80%;
 }
 .topics > main > *:not(:first-child){
    margin-top: 10px;
    width: 100%;
    padding: 12px;
 }
 .topics > main > h1 {
    margin-top: 15px;
    font-size: 15px;
 }
 .topics > main > select, option {
    font-size: 12px;
 }
 .topics > main > button {
    background-color: var(--color-one);
    border-radius: 3px;
    border: 0;
    color: white;
 }